logs/*.log
.DS_Store
uploads/halls/*
!uploads/halls/.gitkeep
uploads/gallery/*
!uploads/gallery/.gitkeep
uploads/logos/*
!uploads/logos/.gitkeep
uploads/blog/*
!uploads/blog/.gitkeep
uploads/banners/*
!uploads/banners/.gitkeep
